@font-face {
  font-family: "Myriad-reg";
  font-style: normal;
  font-weight: normal;
  src: url("../utils/MYRIADPRO-REGULAR.woff");
}

* {
  font-family: "Myriad-reg";
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.playlistCovers {
  width: 300px;
  height: 300px;
}
